* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(61, 164, 155, 1) 6%, rgba(94, 208, 240, 1) 43%);
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  line-height: .8;
  margin: 3rem 0 1rem;
}

main {
  width: 1000px;
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 6.5rem 10rem 20rem 40%;
}

#siteLogo {
  width: 175px;
  z-index: 3;
}

section {

  background-color: rgba(211, 187, 176, 0.3);
  padding: 2rem;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  justify-content: space-between;
}

section img {
  width: 460px;
  max-height: 26rem;
  border: 5dpx solid transparent;
}

section img:hover {
  cursor: pointer;
  border: 5px solid rgb(197, 199, 86);
}

ul {
  margin: 1rem;
}

/* -- button -- */
section+div {
  background-color: rgba(128, 128, 128, 0.734);
  color: rgb(0, 0, 0);
  padding: .5rem 1rem;
  width: max-content;
  height: max-content;
  font-size: .8rem;
  margin: 1rem;
}